---
layout: default
title: Projects
permalink: /projects/index.html
eleventyExcludeFromCollections: true
ogImage: projects.png
---

<div class="sec-header mb-8">
  <span class="sec-title">Projects</span>
  <span class="sec-rule"></span>
</div>

{% for project in collections.projects %}
<div class="project-item">
  <div class="project-item-inner">
    <div>
      <a href="{{ project.url }}" class="project-title">{{ project.data.title }}</a>
      {% if project.data.description %}
      <p class="project-desc">{{ project.data.description }}</p>
      {% endif %}
      {% if project.data.stack %}
      <div>
        {% for tech in project.data.stack %}
        <span class="stack-pill">{{ tech }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% if project.data.status %}
    <span class="badge badge-{{ project.data.status }} project-status">{{ project.data.status }}</span>
    {% endif %}
  </div>
</div>
{% endfor %}
