:root {
	// Colors
	///////////////////////////////////////////////////////////////////////////////
	--navblue: #b8fef7;
	--linkblue: #093C4F;
	--dark-gray: #333;
	--medium-gray: #999;
	--light-gray: #DDD;
	--light-red: #FBE3E4;
	--light-yellow: #FFF6BF;
	--light-green: #E6EFC2;
	--hip-tan: #ECDFC8;
	--hip-dark-tan: #7F7150;
	--hip-darker-tan: #BFB199;
	--hip-dark-brown: #564A36;

	// Typography
	///////////////////////////////////////////////////////////////////////////////
	--sans-serif: 'museo-sans', helvetica, sans-serif;
	--serif: 'museo', georgia, serif;
	--logo-font: 'Playfair Display', serif;

	--base-font-family: var(--sans-serif);
	--header-font-family: var(--serif);

	// Sizes
	///////////////////////////////////////////////////////////////////////////////
	--base-font-size: 1em;
	--base-line-height: calc(var(--base-font-size) * 1.5);
	--base-border-radius: 4px;

	--img-margin: .5em;
	--nav-height: 6em;


	// Body Color
	--base-body-color: var(--hip-tan);
	--alt-body-color: var(--hip-darker-tan);

	//  Font Colors
	--base-font-color: var(--dark-gray);
	--base-accent-color: var(--navblue);
	--base-strong-highlight: var(--hip-dark-brown);
	--alt-strong-highlight: var(--base-body-color);

	//  Text Link Colors
	--base-link-color: var(--linkblue);
	--hover-link-color: color(var(--linkblue), lightness(15%));

	// Border color
	--base-border-color: var(--hip-dark-tan);
	--dark-accent-color: var(--hip-dark-brown);

	// Flash Colors
	--error-color: var(--light-red);
	--notice-color: var(--light-yellow);
	--success-color: var(--light-green);
}
