body {
  color: var(--base-font-color);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  line-height: var(--base-line-height);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: calc(var(--base-font-size) * 2.25); // 16 * 2.25 = 36px
}

h2 {
  font-size: calc(var(--base-font-size) * 2); // 16 * 2 = 32px
}

h3 {
  font-size: calc(var(--base-font-size) * 1.75); // 16 * 1.75 = 28px
}

h4 {
  font-size: calc(var(--base-font-size) * 1.5); // 16 * 1.5 = 24px
}

h5 {
  font-size: calc(var(--base-font-size) * 1.25); // 16 * 1.25 = 20px
}

h6 {
  font-size: var(--base-font-size);
}

p {
  margin: 0 0 calc(var(--base-line-height) * .5);
}

a {
  color: var(--base-link-color);
  text-decoration: none;
  transition: color 0.1s linear;

  &:hover {
    color: var(--hover-link-color);
  }

  &:active, &:focus {
    color: var(--hover-link-color);
    outline: none;
  }
}

hr {
  border-bottom: 1px solid var(--base-border-color);
  border-left: none;
  border-right: none;
  border-top: none;
  margin: var(--base-line-height) 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted var(--base-border-color);
  cursor: help;
}

address {
  display: block;
  margin: 0 0 calc(var(--base-line-height) / 2);
}

hgroup {
  margin-bottom: calc(var(--base-line-height) / 2);
}

del {
  color: color(var(--base-font-color) l(15%));
}

blockquote {
  border-left: 4px solid var(--base-border-color);
  color: color(var(--base-font-color) l(15%));
  margin: var(--base-line-height) 0;
  padding-left: calc(var(--base-line-height) / 2);
}

cite {
  color: color(var(--base-font-color) l(25%));
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
