.DS_Store
/node_modules/
/.sass-cache/
_data
_includes
_layouts
_posts
/bio/
/connect/
/css/
/faq/
/images/
/js/
/musings/
/projects/
/sass/
/svg/
/_config.yml
/Gruntfile.js
/index.html
/package.json
