---
layout: default
title: Hip Musings
description: Where is my mind?
icon: Icon-Musings
pagination:
  data: collections.musings
  size: 5
  alias: posts
---

{% if posts %}
  {% for post in posts %}
  <article>
    <fit-text class="container thin">
      <h1>
        <a
          href="{% if post.data.external == true %}{{post.data.external_url}}{% else %}{{ post.url }}{% endif %}"
          >{{ post.data.title }}</a
        >
      </h1>
      <section class="excerpt full clearfix">
        <p>{{post.data.description}}</p>
        <p class="half">{{ post.date | date: "%e %b, %Y" }}</p>
        <p class="tags half t-right">
          Categories: <em>{{ post.data.tags | join: ', ' }}</em>
        </p>
      </section>
    </fit-text>
  </article>
  {% endfor %}
{% endif %}

{% if pagination.pages %}
  <nav class="container thin">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}" class="el-left">&lt; Previous Page</a>
      {% endif %}
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" class="el-right">Next Page &gt;</a>
      {% endif %}
  </nav>
{% endif %}
