<footer class="clearfix">
  <aside class="copy half">
    <h2>Copyright {{ site.time | date: "%Y" }}</h2>
    <p>Design & Developed by Yours Truly</p>
  </aside>
  <div class="third el-right">
    <h2 class="underline t-center">TL;DR</h2>
    <ul class="social flex justify-around">
      <li>
        <a href="https://twitter.com/hipsterbrown">
          <svg viewBox="0 0 100 100" class="icon icon-twitter">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li><a href="https://github.com/HipsterBrown">
          <svg viewBox="0 0 260 100" class="icon icon-github">
            <use xlink:href="#icon-github"></use>
          </svg>
      </a></li>
      <li><a href="http://codepen.io/HipsterBrown/">
          <svg viewBox="0 20 180 90" class="icon icon-codepen">
            <use xlink:href="#icon-codepen"></use>
          </svg>
      </a></li>
    </ul>
  </div>
</footer>
<script type="text/javascript" src="/js/app.min.js" charset="utf-8"></script>
  </body>
</html>
