    <footer class="flex justify-between">
      <aside class="copy">
        <h2>Copyright {{ site.time | date: "%Y" }}</h2>
        <p>Designed & Developed by Yours Truly</p>
      </aside>
      <div class="quart">
        <h2 class="underline t-center">TL;DR</h2>
        <ul class="social flex justify-around">
          <li>
            <a href="https://twitter.com/hipsterbrown" aria-label="HipsterBrown Twitter">
              {% svg "Twitter" %}
            </a>
          </li>
          <li>
            <a href="https://github.com/HipsterBrown" aria-label="HipsterBrown GitHub">
              {% svg "GitHub" %}
            </a>
          </li>
          <li>
            <a href="http://codepen.io/HipsterBrown/" aria-label="HipsterBrown CodePen">
              {% svg "CodePen" %}
            </a>
          </li>
        </ul>
      </div>
    </footer>
    <script type="text/javascript" src="/assets/app.js" charset="utf-8"></script>
  </body>
</html>
