      <footer>
    		<h2>Copyright {{ site.time | date_to_string }}</h2>
    		<p>Design & Developed by Yours Truly</p>
    		<h3>TL;DR</h3>
    		<ul>
    			<li><a href="https://twitter.com/hipsterbrown"><img src="img/Twitter@2x.png" alt="Twitter"></a></li>
    			<li><a href="http://instagram.com/hipsterbrwn"><img src="img/Instagram@2x.png" alt="Instagram"></a></li>
    			<li><a href="https://github.com/HipsterBrown"><img src="img/Github@2x.png" alt="Github"></a></li>
    		</ul>
    </footer>
    <!-- Load JQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js" charset="utf-8"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="/js/app.js" charset="utf-8"></script>
  </body>
</html>
