.content {
  font-size: 1rem;

  @media screen and (max-width: 900px) {
    &.musings {
      font-size: 0.6rem;
    }
  }

  @media screen and (max-width: 530px) {
    font-size: 0.8rem;
  }

  & article {
    padding: 2em 0;

    &:nth-of-type(odd) {
      background: var(--base-body-color);

      & strong {
        color: var(--base-body-color);
        background: var(--base-strong-highlight);
      }
    }

    &:nth-of-type(even) {
      background: var(--alt-body-color);

      & strong {
        color: var(--base-strong-highlight);
        background: var(--alt-strong-highlight);
      }
    }

    & ol {
      list-style-type: decimal;
      padding-left: 1.2em;

      & li {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.5em;
        padding-bottom: 2em;
      }
    }

    & ul {
      list-style-type: disc;
      padding-left: 1.2em;

      & li {
        font-size: 1.2em;
        font-weight: 300;
      }
    }

    & h1 {
      color: var(--linkblue);
      font-size: 3em;
      margin: 0 auto 1em;
      width: auto;
      text-align: center;

      & a {
        border-bottom: 3px solid var(--linkblue);

        &:focus {
          outline: 1px solid var(--linkblue);
        }
      }
    }

    & h2,
    & h3 {
      text-indent: -2em;

      @media screen and (max-width: 450px) {
        text-indent: -0.5em;
      }

      @media screen and (max-width: 360px) {
        text-indent: 0em;
        text-align: center;
      }
    }

    & h2 {
      color: var(--linkblue);
      font-size: 1.9em;
    }

    & h3 {
      color: var(--linkblue);
      font-size: 1.6em;
    }

    & pre {
      margin-bottom: 1em;
    }

    & p {
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.6em;
      padding: 0;
      margin: 1em 0;

      @media screen and (max-width: 800px) {
        font-size: 1.3em;
      }

      & a {
        text-decoration: underline;
        word-wrap: break-word;
      }

      & + pre {
        margin-top: -1em;
      }
    }

    & code {
      font-size: 1.1rem;
      white-space: pre-wrap;
    }

    & blockquote + p {
      margin-top: -1em;
    }

    & strong {
      padding: 0.1em 0.3em;
      border-radius: 4px;
      font-weight: normal;
    }

    & img {
      border: 8px solid var(--linkblue);
      border-radius: 6px;
      margin-top: var(--img-margin);
      margin-bottom: var(--img-margin);

      &:hover {
        border-color: color(var(--linkblue) l(12%));
      }

      &.no-border {
        border: none;
        border-radius: 0px;
      }
    }

    & svg {
      border: 8px solid var(--linkblue);
      height: auto;
      width: 100%;
    }
  }

  &.no-border {
    & img {
      border: none;
      border-radius: 0px;
    }
  }

  & nav {
    font-size: 1.2rem;
    font-weight: 200;
    padding: 1rem 0;

    & a:hover {
      text-decoration: underline;
    }
  }
}

.post--meta {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
