footer {
  font-size: 1rem;
  padding: 1em 2em;

  @media screen and (max-width: 868px) {
    font-size: .8rem;
  }

  @media screen and (max-width: 530px) {
    font-size: .7rem;
    text-align: center;
  }

  aside.copy {
    p {
      font-size: 1.2em;
      font-weight: 300;
    }
  }

  ul.social {
    text-align: center;

    h2 {
      padding: 0 0 .15em;
      text-decoration: underline;
    }

    li {
      opacity: 0.8;
      padding-top: 1rem;
      transition: all .3s ease-in-out;

      @media screen and (max-width: 530px) {
        margin: 0;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
