footer {
  font-size: 1rem;
  padding: 1em 2em;

  @media screen and (max-width: 868px) {
    font-size: .8rem;
  }

  aside.copy {
    p {
      font-size: 1.2em;
      font-weight: 100;
    }
  }

  ul.social {
    @include clearfix;
    float: right;
    text-align: center;
    width: 15%;

    @media screen and (max-width: 868px) {
      width: 25%;
    }

    h2 {
      padding: 0 0 .15em;
      text-decoration: underline;
    }

    li {
      @include span-columns(3 of 12);
      opacity: 0.8;
      @include transition(all .3s ease-in-out);

      &:hover {
        opacity: 1;
      }
    }
  }
}
