body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.hide {
  display: none;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.underline {
  text-decoration: underline;
}
