.full {
  @include grid-column(12);
}

.quart {
  @include grid-column(3);

  @media screen and (max-width: 530px) {
    @include grid-column(12);
  }
}

.three-quart {
  @include grid-column(8);

  @media screen and (max-width: 530px) {
    @include grid-column(12);
  }
}

.half {
  @include grid-column(6);

  @media screen and (max-width: 530px) {
    @include grid-column(12);
  }
}

.third {
  @include grid-column(4);

  @media screen and (max-width: 530px) {
    @include grid-column(12);
  }
}

.container {
  @include grid-container;
  display: block;
  width: 85%;
  margin: 0 auto;

  @media screen and (max-width: 710px) {
    width: 90%;
  }

  @media screen and (max-width: 450px) {
    width: 95%;
  }

  &.thin {
    width: 60%;

    @media screen and (max-width: 710px) {
      width: 70%;
    }

    @media screen and (max-width: 450px) {
      width: 85%;
    }
  }
}

.img-container {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.img-half {
  width: 49%;
  @media screen and (max-width: 530px) {
    width: 100%;
  }
}

.img-quart {
  width: 22%;
  @media screen and (max-width: 530px) {
    width: 100%;
  }
}

.img-three-quart {
  width: 75%;
  @media screen and (max-width: 530px) {
    width: 100%;
  }
}

.img-full {
  width: 100%;
}

.el-right {
  float: right;
  margin-left: $img-margin;
}

.el-left {
  float: left;
  margin-right: $img-margin;
}

.clearfix {
  @include grid-container;
}
