header {
  font-size: 1rem;
  height: 20em + $nav-height;
  padding-bottom: 2em;
  padding-top: $nav-height;

  @media screen and (max-width: 900px) {
    font-size: .8rem;

    &.container {
      width: 90%;
    }
  }

  @media screen and (max-width: 710px) {
    font-size: .6rem;
  }

  @media screen and (max-width: 530px) {
    padding-top: 3.5em;
    padding-bottom: 4em;
    height: auto;
  }

  @media screen and (max-width: 360px) {
    font-size: .5rem;
  }

  figure.icon-container {
    @extend %vertical-align;
    text-align: center;

    @media screen and (max-width: 530px) {
      top: 0;
      transform: none;
      margin: 0;
      padding: 0 0 2em;
    }

    svg {
      width: 14em;
      height: 12em;

      &.logo {
        #icon-logo > #inner {
          stroke: $dark-gray;

          path#Head {
            stroke-width: 8px;
          }

          path#Stache {
            fill: $dark-gray;
          }
        }
      }

      //Bio Icon
      path#Chest {
        stroke-width: 5px;
      }
    }

    figcaption {
      font-family: $logo-font;
      font-weight: 800;
      font-size: 2em;
    }
  }

  h1 {
    @extend %vertical-align;
    text-align: center;

    @media screen and (max-width: 530px) {
      top: 0;
      transform: none;
    }

    span.hip-feel {
      color: $hip-dark-tan;
      border-bottom: 3px solid $hip-dark-tan;
    }
  }

  h2 {
    @extend %vertical-align;
    text-align: center;

    @media screen and (max-width: 530px) {
      top: 0;
      transform: none;
    }
  }

  //Bio Page specific styles for header

  &.bio {
    figure.icon-container {
      svg {
        height: 14em;
      }
    }
  }
}
