#navbar {
  font-size: 1rem;
  background: $navblue;
  position: fixed;
  @include clearfix;
  height: $nav-height;
  width: 100%;
  z-index: 130;

  #home-link {
    @include span-columns(1 of 12);
    @extend %vertical-align;
    margin-left: 1%;
    //padding: .5em 5em .5em 1em;
    width: 5em;
    height: 5em;
    border-radius: .5em;
    @include transition(all .25s ease-in-out);

    svg {
      width: 90%;
      height: 90%;

      > #icon-logo > #inner {
        stroke: $linkblue;

        path#Head {
          stroke-width: 8px;
        }

        path#Stache {
          fill: $linkblue;
        }
      }
    }

    &:hover {
      background: $linkblue;

      svg > #icon-logo > #inner {
        stroke: $navblue;

        path#Stache {
          fill: $navblue;
        }
      }
    }
  }

  nav {
    @include span-columns(10 of 12);
    @extend %vertical-align;

    ul {
      @include fill-parent();
      @include clearfix();

      li {
        @include span-columns(2.5 of 10);
        text-align: center;

        a {
          font-family: $serif;
          font-size: 1.3em;
          @include hover-effect($navblue, $linkblue);
        }
      }
    }
  }

  a#break {
    position: absolute;
    bottom: -1.5em;
    left: 50%;
    margin-left: -2.25em;
    height: 3em;
    width: 4.5em;

    svg {
      width: 90%;
      height: 90%;
    }
  }
}
