#navbar {
  font-size: 1.2rem;
  background: $navblue;
  position: relative;
  @include clearfix;
  height: 6em;

  #home-link {
    @include span-columns(1 of 12);
    @extend %vertical-align;
    margin-left: 1%;
    padding: .5em 5em .5em 1em;
    border-radius: .5em;
    @include transition(all .25s ease-in-out);

    svg > #icon-logo > #inner {
      stroke: $linkblue;

      path#Head {
        stroke-width: 8px;
      }

      path#Stache {
        fill: $linkblue;
      }
    }

    &:hover {
      background: $linkblue;

      svg > #icon-logo > #inner {
        stroke: $navblue;

        path#Stache {
          fill: $navblue;
        }
      }
    }
  }

  nav {
    @include span-columns(10 of 12);
    @extend %vertical-align;

    ul {
      @include fill-parent();
      @include clearfix();

      li {
        @include span-columns(2.5 of 10);
        text-align: center;

        a {
          font-family: $serif;
          font-size: 1.3em;
          @include hover-effect($navblue, $linkblue);
        }
      }
    }
  }

  a#break {
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -45px;
  }
}
