// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: 'museo-sans', helvetica, sans-serif;
$serif: 'museo', georgia, serif;
$logo-font: 'Playfair Display', serif;

$base-font-family: $sans-serif;
$header-font-family: $serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$navblue: #b8fef7;
$linkblue: #093C4F;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$hip-tan: #ECDFC8;
$hip-dark-tan: #7F7150;
$hip-darker-tan: #BFB199;

// Body Color
$base-body-color: $hip-tan;
$alt-body-color: $hip-darker-tan;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $navblue;

//  Text Link Colors
$base-link-color: $linkblue;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
