---
permalink: feeds/all.xml
metadata:
  title: HipsterBrown — All Posts
  url: https://hipsterbrown.com
  feedUrl: https://hipsterbrown.com/feeds/all.xml
  author:
    name: Nicholas Hehr
    email: headhipster@hipsterbrown.com
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.trainingData | getNewestCollectionItemDate | dateToRfc822 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.trainingData %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc822 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {% if post.data.type %}<category term="{{ post.data.type }}"/>{% endif %}
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
