{% include "header.html" %}

<header class="container {% if tags %}{{ tags | join: ' ' }}{% endif %}">
  {% if icon %}
      <figure class="icon-container quart">
        {% include {{icon}} %}
      {% if title == 'HipsterBrown' %}
        <figcaption>{{ title }}</figcaption>
      {% else %}
        <figcaption class="visually-hidden">{{ title }}</figcaption>
      {% endif %}
      </figure>
      <h1 class="three-quart">{{ description }}</h1>
      {% else %}
      <h1 class="full">{{ description }}</h1>
  {% endif %}
  </header>
  <section tabindex"-1" id="main" class="main content {% if tags %}{{ tags | join: ' ' }}{% endif %}">
    {{ content }}
  </section>

{% include "footer.html" %}
