{% include header.html %}

  <header class="container">
  {% if page.icon %}
      <figure class="icon-container 1-4">
        {{ page.icon }}
      {% if page.title == 'HipsterBrown' %}
        <figcaption>{{ page.title }}</figcaption>
      {% endif %}
      </figure>
      <h1 class="3-4">{{ page.description }}</h1>
      {% else %}
      <h1 class="full">{{ page.description }}</h1>
  {% endif %}
  </header>
  <section class="main content {{ page.tags }}">
    {{ content }}
  </section>

{% include footer.html %}
